# Ignore hidden files
.*
!.gitignore
!.env.example
!.dockerignore
!.github/
!.github/workflows/
!.github/workflows/*.yml

# Keep local environment values private
.env

# Ignore Python cache files
__pycache__/

# Ignore database file
data/webMonitor.db

# Ignore client secret file
client_secret.json
